/.cache
/.emacs.desktop
/.python-environments/
/.recentf
/ac-comphist.dat
/anaconda-mode
/auto-save-list
/bookmarks
/eln-cache
/elpa
/elpy
/eshell
/projectile.cache
/projectile-bookmarks.eld
/projects
/recentf
.recentf~
/request
/session.*
/straight
/transient
/url
# exclude Google-specific config
/lisp/init-google.el